/*background image*/
body {
	background-image: url("../images/11285149043.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*instruction text*/
p {
	width: 50%;
	margin: 10px 0px 0px 70px;
	font-weight: 700;
	font-family:"Avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #a82825;
}

/*margins for the instruction text*/
.textbox {
	margin-top: -540px;
	margin-bottom: 150px;
}

/*Styles the game title text*/
.gameTitle {
	margin-left: 70px;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 700;
	font-family:"Avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #ee5a58;
	text-shadow: 4px 4px 2px #2e0403;
}

/*Styles the top photo*/
.photoTop {
	width: 96%;
	height: 475px;
	margin: 50px 25px 25px 25px;
	border-radius: 75px
}

/*Styles the move buttons*/
.photo {
	width: 200px;
	height: 150px;
	border-radius: 40px;
	margin-bottom: 20px;
}

/*general peramiters of all containers*/
.container {
	display: flex;
	justify-content: space-around;
}

/*general peramiters for certain elements mobile responsiveness*/
.wrap {
	flex: wrap;
}

/*general peramiters for all borders*/
.border { 	
	border-style: solid;
	border-width: 8px;
}

/*The look of the start button*/
.box {
	width: 92%;
	height: 75px;
	margin: 35px 0px 50px 50px;
	background-color: rgba(238,90,88, .30);
	border-radius: 45px;
	position: absolute;

}

/*The look of the goal number and moves done displays */
.box2 {
	width: 300px;
	height: 150px;
	background-color: #5f98b8;
	margin-bottom: 25px;
	margin-top: 160px;
}

/*The look of the wins and losses displays*/
.box3 {
	width: 400px;
	height: 100px;
	background-color: #ee5a58;
	margin-bottom: 25px;
}

/*the look of the copy container*/
.box4 {
	width: 100%;
	height: 40px;
	background-color: #4c6b8d;
	margin: 30px 0px 30px 0px;
}

/*The font and font look for the moves goal and moves done displays*/
.displayText {
	color: #f6f6f6;
	text-align: center;
	font-size: 18PX;
	font-weight: 700;
	font-family:"Avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	text-shadow: 4px 4px 2px #33587a;
}

/*The font and look for the wins and losses display text*/
.displayText2 {
	color: #f6f6f6;
	font-size: 22px;
	font-weight: 800;
	font-family:"Avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	margin-top: 30px;
	text-align: center;
	text-shadow: 4px 4px 2px #960402;
}

/*The font and look for the start button text*/
.displayText3 {
	color: #f6f6f6;
	font-size: 21px;
	font-weight: 900;
	font-family:"Avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	text-align: center;
	text-shadow: 4px 4px 2px #464b0a;
}

/*The font and look for the copy text*/
.displayText4 {
	color: #f6f6f6;
	font-family: "avant Garde", "Helvetica Neue", "Helvetica", "sans-serif";
	text-align: center;
	margin-top: 4px;
}

/*A top margin for the top words in the moveStack and moveGoal displays*/
.spacer {
	margin-top: 10px
}

/*A top margin for the numbers displayed in the moveStack and moveGoal displays*/
.spacer2 {
margin-top: 30px;
}

/*A top margin for the bottom words in the moveStack and moveGoal displays*/
.spacer3 {
	margin-top: 25px;
}

/*A top margin for the start button*/
.spacer4 {
	margin-top: 20px;
}